.heading-1 {
    font-weight: 700;
    font-size: 3.2rem;
}

.heading-2 {
    font-weight: 700;
    font-size: 2.2rem;
}

.text-bold {
    font-weight: 700;
    font-size: 1.3rem;
}

.text-regular {
    font-weight: 400;
    font-size: 1.3rem;
}

.text-small {
    font-weight: 400;
    font-size: 1.1rem;
}

.text-black {
    color: $color-black;
}

.text-grey {
    color: $color-grey;
}