// Headings

.heading-1 {
    font-weight: 700;
    font-size: 3rem;
}

.heading-2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.heading-3 {
    font-weight: 700;
    font-size: 2rem;
}

// Regular Text

.text-large {
    font-weight: 400;
    font-size: 1.5rem;
}

.text-bold {
    font-weight: 700;
    font-size: 1.3rem;
}

.text-regular {
    font-weight: 400;
    font-size: 1.3rem;
}

.text-small {
    font-weight: 400;
    font-size: 1.1rem;
}

// Text colors

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.text-grey {
    color: $color-grey;
}