.width-50 {
    width: 50% !important;
}

.width-40 {
    width: 40% !important;
}

.width-30 {
    width: 30% !important;
}

.margin-bottom-xs {
    margin-bottom: 1rem !important;
}

.margin-bottom-s {
    margin-bottom: 1.5rem !important;
}

.margin-bottom-m {
    margin-bottom: 2.5rem !important;
}

.margin-bottom-l {
    margin-bottom: 4rem !important;
}

.margin-bottom-xl {
    margin-bottom: 5.5rem !important;
}

.text-center {
    text-align: center !important;
}