.width-60 {
    width: 60% !important;
}

.width-50 {
    width: 50% !important;
}

.width-40 {
    width: 40% !important;
}

.width-35 {
    width: 35% !important;
}

.width-30 {
    width: 30% !important;
}

// Margin Bottom

.margin-bottom-xs {
    margin-bottom: 1rem !important;
}

.margin-bottom-s {
    margin-bottom: 1.5rem !important;
}

.margin-bottom-m {
    margin-bottom: 2.5rem !important;
}

.margin-bottom-l {
    margin-bottom: 4rem !important;
}

.margin-bottom-xl {
    margin-bottom: 5.5rem !important;
}

// Text Align

.text-center {
    text-align: center !important;
}

// Align Self

.align-self-center {
    align-self: center !important;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-end {
    align-self: flex-end !important;
}