.profile-patient{
    padding: 7rem 15rem;
    
    &__flex-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__subcontainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
}