.container {
    padding: 8rem 3rem;
    // border: 1px solid $color-grey;
    box-shadow: 3px 5px 1rem 1px $color-box-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &--m {
        width: 35%;
        border-radius: 3rem;
    }

    &--l {
        width: 40%;
        border-radius: 3rem;
        padding: 8rem 6rem;
    }

    &--xl {
        width: 40%;
        border-radius: 3rem;
        padding: 8rem 4rem;
    }
}