.cta {
    @extend %utility;

    border-radius: 1.5rem;
    border: 1px solid $color-black;
    padding: .8rem 2.4rem;
    width: max-content;

    &:hover {
        text-decoration: none;
    }

    &--large {
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }

    &--white {
        color: $color-black !important;
        background-color: $color-white !important;
        border-color: $color-grey;
    }

    &--primary {
        color: $color-white !important;
        background-color: $color-primary !important;
        border: 0;
        box-shadow: 1px 1px 4px $color-box-shadow;
    }

    &--secondary {
        color: $color-white !important;
        background-color: $color-secondary !important;
        border: 0;
        box-shadow: 1px 1px 4px $color-box-shadow;
    }
}