.input {
    @extend %utility;

    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid $color-grey;
    border-radius: 1.2rem;

    &:focus,
    &:active {
        outline: none;
    }
}

input[type=file] {
    width: 100%;
}

input[type=date] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;

    &::-webkit-inner-spin-button {
        display: none;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
  }
  