// Single link

.link:link,
.link:visited {
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    cursor: pointer;
}

// Vertical lists of links

.link-item-wrapper {
    list-style-type: none;
    margin-bottom: 0;

    > * {
        text-align: left;
    }

    > *:not(:last-child) {
        margin-bottom: .7rem;
    }
}

.link-item:link,
.link-item:visited {
    text-decoration: none;
}

.link-item:hover{
    color: $color-black;
    cursor: pointer;
}

.link-item--active {
    color: $color-black !important;
}