.media {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    align-self: center !important;
    border-radius: 100%;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7.5rem 0;
    }

    &-m {
        width: 40rem !important;
        height: 40rem !important;
    }
}

.media-left {
    justify-self: start !important;
    margin-right: 8rem;
}

.media-right {
    justify-self: end !important;
}