$color-primary: #092c4d;
$color-secondary: #3ebb6a;

$color-white: white;
$color-black: rgb(56, 56, 56);
$color-grey: #858586;
$color-grey-light: #f1f1f1;
$color-yellow: rgb(241, 186, 6);
$color-green: rgb(20, 151, 8);
$color-red: rgb(219, 47, 47);

$color-white--hover: #ebebeb;
$color-primary--hover: #0b3761;
$color-secondary--disabled: #c3d4c9;

$color-grey-transparent: #f1f1f1e3;


$color-box-shadow: #a5a5a594;

$font-primary: 'Open Sans', sans-serif;